<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralway GeoPhoto App</title>

    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Bootstrap/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Centralway GeoPhoto App</a>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/Scripts/jQuery/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/AngularJS/angular.min.js"></script>

    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/controllers.js"></script>
</body>
</html>